body {
	background-color: blue;
}

#narrative {
	text-align: center;
	position: relative;
	width: 300x;
	float: left;
}

#inventory {
	text-align: center;
	position: relative;
	width: 300px;
	float: right;
	
}

#gameCanvas, #pauseAnimationCanvas {
	position: absolute;
	top: 0;
	left: 0;
}

#reset {
	text-align: center;
	position: relative;
	width: 300px;
	float: left;
}

#debugText {
	background-color: white;
	color: black;
}
